<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создать задачу</title>
</head>
<body>

<h1>Новая задача</h1>

<p>Проект: {{ project.title }}</p>

<form method="post">

    {% csrf_token %}

    <label>Название</label>
    <br>

    <input
        type="text"
        name="title"
        maxlength="200"
        required
    >

    <br><br>

    <label>Описание</label>
    <br>

    <textarea name="description"></textarea>

    <br><br>

    <label>Статус</label>
    <br>

    <select name="status">

        <option value="todo">
            Не выполнено
        </option>

        <option value="done">
            Выполнено
        </option>

    </select>

    <br><br>

    <label>Приоритет</label>
    <br>

    <select name="priority">

        <option value="low">
            Низкий
        </option>

        <option value="medium" selected>
            Средний
        </option>

        <option value="high">
            Высокий
        </option>

    </select>

    <br><br>

    <label>Дедлайн</label>
    <br>

    <input
        type="date"
        name="due_date"
    >

    <br><br>

    <button type="submit">
        Создать задачу
    </button>

</form>

<br>

<a href="{% url 'task_list' project.id %}">
    Отмена
</a>

</body>
</html>